.outer {
    height: 100vh;
    background: linear-gradient(to top, #57d0e3 50%, #388793 90%) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    min-height: 380px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px; 
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
}

.panel-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 15px; /* Reduced space between form groups */
}

.input-field {
    border-radius: 5px;
    padding: 8px; /* Reduced padding inside input field */
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}

.input-field input[type='text'],
.input-field input[type='password'] {
    border: none;
    outline: none;
    width: 100%; 
    padding: 8px; /* Reduced padding inside input field */
    color: #333;
}

small.text-danger {
    margin-top: 3px; /* Reduced margin for error messages */
    display: block;
}

.btn {
    margin-top: 15px; /* Reduced space above the button */
    border-radius: 15px;
    padding: 10px 20px;
    background: #388793;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #57d0e3;
}

#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none; 
    cursor: pointer;
    color: #007bff;
}

#forget:hover {
    text-decoration: underline;
}
