/* Optional: styling for the canvasjs-chart component */
:host {
    display: block;
  }
  

  /* canvasjs-chart.component.scss */
:host ::ng-deep {
  .canvasjs-chart-credit {
    display: none !important;
  }
}
.canvasjs-chart-credit
{
    display: none !important;
}