.toolbar-container {
  display: flex;
  flex-direction: column;
}

.toolbar{
  background-color: #f2edf3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3{
    margin-left: 1%;
    font-family: "SUSE", sans-serif;
    font-size: large;
    font-weight: 800;
    font-style: normal;
  }
}

.icons-right {
  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px; /* Adjust the size of the icons */
  }
  margin-right: 3%;
  display: flex;
  gap: 15px; /* Space between the icons */
}

.spacer {
  flex: 1;
}

.statistic-container {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f2edf3;

  position: relative;
}

.inner-container {
  background-color: transparent;
  border-radius: 12px;
  //box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 1300px;
  margin: auto;
  position: relative; /* Make sure the button container can be positioned relative to this */
}

.dashboard-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-title {
  margin: 0;
  font-size: 2.0em; /* Reduced size to keep title on one line */
  font-weight: bold;
  font-family: Audiowide, sans-serif;
  color: #333;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis if necessary */
}

.charts-container {
  background-color: #f2edf3;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(2, 375px);
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
  grid-gap: 10px;
}

.chart-card {
  background: #f7fbff;
  align-items: end;
  padding: 20px;
  width: 73%;
  height: 90%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  justify-self: center;
  align-self: center;
}

.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.statistic {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 calc(25% - 20px);
  position: relative;
  transition: all 0.3s ease;
}

.statistic i.icon {
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
}

.statistic.total-books {
  background: #1C4E80;
}

.statistic.total-authors {
  background: #A5D8DD;
}

.statistic.total-editeurs {
  background: #EA6A47;
}

.statistic.average-price {
  background: #0091D5;
}

.statistic:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.statistic .statistic-title {
  font-size: 1.3em;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: bold;
}

.statistic .statistic-value {
  font-size: 2em;
  color: #fff;
  margin: 0;
}

.chart-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.manage-books-button {
  height: 60px;
  display: inline-flex;
  align-items: center;
  background-color: #1C4E80;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
}

.manage-books-button i {
  margin-right: 8px;
  font-size: 1.4em;
}

.manage-books-button span {
  font-weight: bold;
}

.manage-books-button:hover {
  background-color: #c1610c;
  transform: translateY(-2px);
}

.manage-books-button:active {
  background-color: #8d0081;
  transform: translateY(0);
}

/* CSS for the empty message */
.empty-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}

.empty-message p {
  margin: 0;
  font-size: 16px;
}
