<div class="dashboard-container">
  <h1 class="dashboard-title">Book Statistics Dashboard</h1>

  <!-- Statistiques de base -->
  <div class="statistics">
    <div class="statistic total-books">
      <i class="icon fas fa-book"></i>
      <h2 class="statistic-title">Total Books</h2>
      <p class="statistic-value">{{ totalBooks }}</p>
    </div>

    <div class="statistic total-authors">
      <i class="icon fas fa-user"></i>
      <h2 class="statistic-title">Total Authors</h2>
      <p class="statistic-value">{{ totalAuthors }}</p>
    </div>

    <div class="statistic total-editeurs">
      <i class="icon fas fa-book-reader"></i>
      <h2 class="statistic-title">Total Editeurs</h2>
      <p class="statistic-value">{{ totalEditeurs }}</p>
    </div>

    <div class="statistic average-price">
      <i class="icon fas fa-coins"></i>
      <h2 class="statistic-title">Average Price</h2>
      <p class="statistic-value">{{ averagePrice | currency:'TND' }}</p>
    </div>
  </div>

  
</div><div class="charts-container">
    <!-- Existing chart containers -->
    <div id="chartContainer" class="chart-card"></div>
    <div id="yearChartContainer" class="chart-card"></div>
    <div id="publisherChartContainer" class="chart-card"></div>
  
    <!-- New chart container for author and year data -->
    <div id="authorAndYearChartContainer" class="chart-card"></div>
  </div>
  