<div mat-dialog-title>
    <h3>Book Form</h3>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="container">
 
        <!-- Titre -->
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
                <mat-error *ngIf="bookForm.get('title')?.hasError('required')">
                      Title is required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Auteur et ISBN -->
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" required>
                <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
                    Author is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>ISBN</mat-label>
                <input matInput formControlName="isbn" required>
                <mat-error *ngIf="bookForm.get('isbn')?.hasError('required')">
                    ISBN is required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Genre et Date de publication -->
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Genre</mat-label>
                <input matInput formControlName="genre">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Publication Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="datePublication" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="bookForm.get('datePublication')?.hasError('required')">
                    Publication Date is required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Langue et Éditeur -->
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Language</mat-label>
                <input matInput formControlName="langue" required>
                <mat-error *ngIf="bookForm.get('langue')?.hasError('required')">
                    Language is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Publisher</mat-label>
                <input matInput formControlName="editeur">
            </mat-form-field>
        </div>

        <!-- Description -->
        <div class="row">
            <mat-form-field appearance="outline" class="form-field double-column">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <!-- Nombre de pages et Prix -->
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Number of Pages</mat-label>
                <input type="number" matInput formControlName="nb_Page" required>
                <mat-error *ngIf="bookForm.get('nb_Page')?.hasError('required')">
                    Number of Pages is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Price</mat-label>
                <input matInput formControlName="prix" required>
                <mat-hint>In TND</mat-hint>
                <mat-error *ngIf="bookForm.get('prix')?.hasError('required')">
                    Price is required
                </mat-error>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? 'Update' : 'Save' }}</button>
    </div>
</form>